.App {
  background-image: linear-gradient(to left, #F5F5F5, #e3ecff);
}

/*Nav Styles*/
nav {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: white;

}

.nav-link {
  width: 50%;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #FF0073;
  text-decoration: none;
}

/*Footer Styles*/
footer{
  margin-top: 500px;
  text-align: center
}

/*Home Page Styles*/
header{
  max-width: 40%;
  text-align: left;
  margin-left: 20px;
  float: left;
}  

.h1 {
  text-align: center;
}

#home-p{
  font-size: 30px;
}

#home-button{
  padding: 10px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#home-button > a{
  text-decoration: none;
  color: black;
}
#img{
  position: relative;
}
#oldman{
  position: relative;
  margin-top: 10px;
  margin-right: 20px;
  float: right;
  width: 450px;
  height: 300px;
  -webkit-mask-image:-webkit-gradient(linear, right top, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.4)));
  mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

#aws{
  position: absolute;
  bottom: 0;
  right:0;
  width: 150px;
  height: 50px;
}
/*voucher Table Styles*/
table{
  margin-left:auto;
  margin-right:auto;
  border: 1px solid black;
  border-collapse: collapse;
}

#first-row{
  background: lightgray;
}

th, td{
  text-align: center;
  padding:20px;
  border-bottom: 1px solid black;
}

#balance{
  text-align:center;
}

#voucher_page{
  font-size: x-large;
}

.Jumbo {
  margin-top: 20px;
  font-size: 40px;
}

.bold {
  font-weight: bold;
}
