.App {
  text-align: center;
  background-image: linear-gradient(to left, #F5F5F5, #e3ecff);
}

/*Nav Styles*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: white;

}

.nav-link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #FF0073;
  text-decoration: none;
}

/*Footer Styles*/
footer{
  margin-top: 500px;
}


/*Home Page Styles*/
header{
  max-width: 30%;
  text-align: left;
  margin-left: 20px;
  float: left;
}  

#home-p{
  font-size: 30px;
}

#home-button{
  padding: 10px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#home-button > a{
  text-decoration: none;
  color: black;
}
#oldman{
  margin-top: 10px;
  margin-right: 20px;
  width: 450px;
  height: 300px;
  float: right;
  mask-image: linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0));
}
#aws{
  margin-top: 10px;
  float: right;
  width: 100px;
  height: 50px;
}
/*voucher Table Styles*/
table{
  margin-left:auto;
  margin-right:auto;
  border: 1px solid black;
  border-collapse: collapse;
}

#first-row{
  background: lightgray;
}

th, td{
  text-align: center;
  padding:20px;
  border-bottom: 1px solid black;
}

#balance{
  text-align:center;
}

#voucher_page{
  font-size: x-large;
}