.App {
  text-align: center;
  background-image: linear-gradient(to right, #F5F5F5, #e3ecff);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(255, 244, 229);
  color: #FF0073;
}

.nav-link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #FF0073;
}

